{% extends "base.html" %}

{% load widget_tweaks %}

{% load set_var increment  %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}
{% block pageclass %}class="bgWhite"{% endblock %}
{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
  <div class="main-container">
            <div class="main wrapper clearfix">
            <div id="AddtoCart" class="empty">
                <div class="items"></div>
                <a href="#" class="down"></a>
            </div>
            <div class="pageDetails">
               
                <div >
                   
                    <div class="Forms clearfix">
					<h3>{% trans 'Password change successful' %}</h3>

					<p>{% trans 'Your password was changed.' %}</p>

                    </div>
                </div>
            </div>
    
   
            </div> <!-- #main -->
        </div> <!-- #main-container -->
{% endblock %}

{% block content-related %}

{% endblock %}