{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load set_var increment  %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}
{% block pageclass %}class="bgWhite"{% endblock %}
{% block title %} {% trans 'Password change' %} {% endblock %}

{% block content %}
  <div class="main-container">
            <div class="main wrapper clearfix">
            <div id="AddtoCart" class="empty">
                <div class="items"></div>
                <a href="#" class="down"></a>
            </div>
            <div class="pageDetails">
               
                <div >
                   
                    <div class="Forms clearfix">
						<h3>{% trans "Password reset" %}</h3>

						<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

                        <form id="MyAccount" class="clearfix" method="post">
							{% csrf_token %}
						{{ form.email.errors }}
						<p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} 
							<button style="width:auto" type="submit">{% trans 'Reset my password' %}</button>
						</p>
						</form>

                        </div>
                        
                    </div>
                </div>
            </div>
    
   
            </div> <!-- #main -->
        </div> <!-- #main-container -->
     
{% endblock %}
