{% extends "base.html" %}

{% load widget_tweaks %}

{% load set_var increment  %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}
{% block pageclass %}class="bgWhite"{% endblock %}
{% load i18n %}


{% block title %} {% trans 'Password change' %} {% endblock %}

{% block content %}
  <div class="main-container">
            <div class="main wrapper clearfix">
            <div id="AddtoCart" class="empty">
                <div class="items"></div>
                <a href="#" class="down"></a>
            </div>
            <div class="pageDetails">
               
                <div >
                   
                    <div class="Forms clearfix">
						<h3>{% trans 'Password change' %}</h3>

						<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

						<form id="MyAccount"  method="post" action="" class="clearfix">
						{% csrf_token %}
						{{ form.old_password.errors }}
						<p class="aligned wide">{{ form.old_password|attr:"placeholder:Vieja Contraceña" }}</p>
						{{ form.new_password1.errors }}
						<p class="aligned wide">{{ form.new_password1|attr:"placeholder:Nueva Contraceña" }}</p>
						{{ form.new_password2.errors }}
						<p class="aligned wide">{{ form.new_password2|attr:"placeholder:Repetir nueva Contraceña" }}</p>

						<p><button style="width:auto" type="submit" >{% trans 'Change my password' %}</button></p>
						</form>

                      
                    </div>
                </div>
            </div>
    
   
            </div> <!-- #main -->
        </div> <!-- #main-container -->
     

{% endblock %}

{% block content-related %}

{% endblock %}