{% extends "base.html" %}
{% load article_tags %}
{% load breadcrumbs %}

{% block content %}
<ul>

	{% for video in videos %}
	<li>
		<a href="{% url "apps.video.views.video_details" slug=video.slug %}">{{video.title}} link1-1</a><br>
		<a href="{% url "apps.video.views.video_details" id=video.id slug=video.slug %}">{{video.title}} link1-2</a><br>
		<a href="{% url "apps.video.views.video_details" year=video.created|date:"Y" month=video.created|date:"m" day=video.created|date:"d"  slug=video.slug %}">{{video.title}} link2-1</a><br>
	    <a href="{% url "apps.video.views.video_details" year=video.created|date:"Y" month=video.created|date:"m" day=video.created|date:"d" id=video.id slug=video.slug %}">{{video.title}} link2-2</a>
	</li>
	{% endfor %}

</ul>

{% endblock %}